---
import { Image } from "@astrojs/image/components";

interface Props {
  src: string;
  alt: string;
  width?: number;
  height?: number;
  aspectRatio?: `${number}:${number}`;
}

const { src, alt, aspectRatio, width = 800, height = 0 } = Astro.props as Props;
---

<div>
  <Image
    src={src}
    alt={alt}
    format="webp"
    width={width}
    height={height}
    aspectRatio={aspectRatio}
  />
</div>

<style lang="scss">
  div {
    > img {
      width: 100%;
      height: auto;
    }
  }
</style>
