---
import "~/styles/global.css";

import penguinSvg from "~/assets/penguin.svg";
import GlobalNav from "~/components/GlobalNav.astro";

export interface Props {
  title: string;
  description?: string;
  activeNav?: "blog" | "create" | "about";
  hideNav?: boolean;
}

const {
  title,
  activeNav,
  description = "Enoch's Website",
  hideNav,
} = Astro.props as Props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🎱</text></svg>"
    />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="RSS Feed for enochchau.com"
      href="/rss.xml"
    />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="generator" content={Astro.generator} />
    <meta name="title" property="og:title" content={title} />
    <meta name="description" property="og:description" content={description} />
    <meta name="image" property="og:image" content={penguinSvg.src} />
    <meta name="author" content="Enoch Chau" />
    <meta
      property="og:url"
      content={`https://enochchau.com${Astro.url.pathname}`}
    />
    <title>{title}</title>

    <slot name="head" />
  </head>

  <body id="body">
    <script is:inline>
      const t = localStorage.getItem("theme");
      if (t === "dark") {
        document.body.className = "dark";
      } else if (t === "light") {
        document.body.className = "light";
      }

      // listen to theme changes from other tabs
      window.addEventListener("storage", function (ev) {
        if (ev.storageArea === localStorage && ev.key === "theme") {
          if (ev.newValue === "dark") {
            document.body.className = "dark";
          } else if (ev.newValue === "light") {
            document.body.className = "light";
          } else {
            document.body.className = "";
          }
        }
      });
    </script>
    {!hideNav && <GlobalNav activeNav={activeNav} />}
    <slot />
  </body>
</html>

<style>
  #body {
    margin: 0 auto;
    max-width: 760px;
    padding: 8px;
  }
</style>
<style is:global>
  *,
  *:before,
  *:after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  @view-transition {
    navigation: auto;
  }
</style>
