---
import type { CollectionEntry } from "astro:content";

import Prose from "~/components/Prose.astro";
import Layout from "~/layouts/Layout.astro";
import { contentIdToViewTransitionName } from "~/util/contentIdToViewTransitionName";

interface Props {
  content: CollectionEntry<"blog">;
}

const { content } = Astro.props as Props;
const { data } = content;
let viewTransitionName = contentIdToViewTransitionName(content.id);
---

<Layout
  title={"Enoch - " + data.title}
  activeNav="blog"
  description={data.subtitle}
>
  <h1
    class="text-2xl font-bold mt-6"
    style={`view-transition-name: ${viewTransitionName};`}
  >
    {data.title}
  </h1>
  {data.subtitle && <h2 class="text-lg my-1">{data.subtitle}</h2>}
  <h3 class="text-md italic mb-6">{data.date}</h3>
  <Prose>
    <slot />
  </Prose>
</Layout>
