---
import type { CollectionEntry } from "astro:content";

import Prose from "~/components/Prose.astro";
import Layout from "~/layouts/Layout.astro";
import { contentIdToViewTransitionName } from "~/util/contentIdToViewTransitionName";

interface Props {
  content: CollectionEntry<"blog">;
}

const { content } = Astro.props as Props;
const { data } = content;
let viewTransitionName = contentIdToViewTransitionName(content.id);
---

<Layout
  title={"Enoch - " + data.title}
  activeNav="blog"
  description={data.subtitle}
>
  <h1 style={`view-transition-name: ${viewTransitionName};`}>
    {data.title}
  </h1>
  {data.subtitle && <h2>{data.subtitle}</h2>}
  <h3>{data.date}</h3>
  <Prose>
    <slot />
  </Prose>
</Layout>

<style>
  h1 {
    margin-top: 8px;
    font-size: var(--text-xl);
  }
  h2 {
    margin-top: 8px;
    font-size: var(--text-l);
  }
  h3 {
    margin: 8px 0;
    font-style: italic;
    font-size: var(--text-m);
  }
</style>
